body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #F2A1A1, #D98282); /* Gradient background effect */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

label,
input,
button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition effect */
}

button:hover {
    background-color: #0056b3;
}

#message {
    text-align: center;
    margin-top: 10px;
    color: red;
}
